<% provide(:title, "О нас!") %>
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>О нас</h1>
        <h2>Сайт сделан в качестве зачетной работы по предмету языки интернет - программирования</h2>
    </body>
</html>