<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
<%= f.text_area :content, placeholder: "Создать новый пост..." %>
</div>
<%= f.submit "Выложить", class: "btn btn-primary" %>
<% end %>